.Button-container {
  background: red;
  border-radius: 5px;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Button-container:hover {
  background: rgb(182, 0, 0);
}

.Button-container:active {
  background: rgb(138, 13, 13);
}